<div class="container">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading">Sign Up</h2>

  <%= devise_error_messages! %>

  <%= f.text_field :username, :class => 'input-block-level', :placeholder => 'Username' %>

  <%= f.email_field :email, :class => 'input-block-level', :placeholder => 'E-Mail Address' %>

  <%= f.password_field :password, :class => 'input-block-level', :placeholder => 'Password' %>

  <%= f.password_field :password_confirmation, :class => 'input-block-level', :placeholder => 'Password, again' %>

  <%= f.submit "Sign up", :class => 'btn btn-large btn-primary' %>

  <br clear="both">
  <%= render "links" %>
<% end %>


</div>
