<div class="container">

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-signin', :method => :post }) do |f| %>
  <h2 class="form-signin-heading">Forgot Your Password?</h2>

  <%= devise_error_messages! %>

  <%= f.email_field :email, :class => 'input-block-level', :placeholder => 'E-Mail Address' %>

  <%= f.submit "Reset my password", :class => 'btn btn-large btn-primary' %>
  <br clear="all">
  <%= render "links" %>
<% end %>

</div>
