<div class="container">
  <ul class="breadcrumb" style="clear: both; margin-left: 0">
    <li><%= link_to('Your Address Books', address_books_url) -%> <span class="divider">/</span></li>
    <li><%= link_to(@contact.address_book.name, address_book_url(@contact.address_book)) %> <span class="divider">/</span></li>
    <li><%= link_to(@contact.vcard.name.fullname, address_book_contact_url(@address_book, @contact)) -%> <span class="divider">/</span></li>
    <li class="active">Edit Contact</li>
  </ul>

  <h2>Edit Contact</h2>

	<%= form_for([@address_book, @contact]) do |f| %>
	  <%= render 'form', :f => f %>
    <div>
      <%= f.submit "Update", :class => 'btn' -%>
    </div>
  <% end -%>
</div>