<div class='container'>

  <ul class="breadcrumb">
    <li><%= link_to('Your Address Books', address_books_url) -%> <span class="divider">/</span></li>
    <li><%= link_to(@address_book.name, address_book_url(@address_book)) %> <span class="divider">/</span></li>
    <li class="active">Edit Address Book</li>
  </ul>

  <legend><h2>Edit &ldquo;<%= @address_book.name -%>&rdquo;</h2></legend>

  <%= form_for(@address_book, :html => { :class => 'form-horizontal' }) do |f| %>
    <fieldset>
      <%= render 'form', :f => f %>
      <div class='control-group'>
        <%= f.submit 'Update', :class => 'btn' %>
      </div>
    </fieldset>
  <% end -%>

</div>
