<div class="whole">
<h2><%= @address_book.name -%></h2>

<% unless @contacts.empty? -%>
<ul>
  <% @contacts.each do |contact| -%>
  <li><span style="display: inline-block; width: 3em">#<%= contact.id -%></span><%= link_to contact.quick_name, address_book_contact_url(@address_book, contact) -%></li>
  <% end -%>
</ul>
<%= link_to 'Create a contact', new_address_book_contact_url(@address_book) -%>.
<%= link_to 'Edit address book', edit_address_book_url(@address_book) -%>.
<%= link_to 'Back to address book list', root_url -%>.
<% else -%>
This address book is empty. Begin by <%= link_to 'creating a contact', new_address_book_contact_url(@address_book) %>.
<% end -%>
</div>